<body>
    <h1>Welcome to our Ansible automated page!
    <br>
    The last update to this page was on {{ ansible_date_time.date }} at {{ ansible_date_time.time }}</h1>
    <br>
    <h2>Successfully processed a message from Red Hat Insights with the following timestamp:
    <br>
    <h1>{{ site_content }}
</body>