<body>
    <h1>Welcome to our Ansible automated page!
    <br>
    The last update to this page was on {{ ansible_date_time.date }} at {{ ansible_date_time.time }}</h1>
    <br>
    <h2>Here is the content of our notification from Red Hat Insights:
    <br>
    <h3>{{ site_content }}
</body>