<body>
    <h1>Welcome to our Ansible automated page!
    <br><br>
    Successfully processed a message from Red Hat Insights with the following timestamp:
    <br><br>
    {{ site_content }}</h1>
</body>